torch
numpy~=1.20.3
discord~=1.0.1
pillow~=9.0.1
discord.py[voice]
youtube_dl
youtube-python
SQLAlchemy~=1.3.22
bcrypt
Flask~=1.1.2
Flask-SocketIO
Flask-SQLAlchemy
gevent~=20.12.1
gevent-websocket
python-socketio
multipledispatch~=0.6.0
Werkzeug~=1.0.1
requests~=2.25.1
pymongo~=3.12.0
selenium
pandas==1.2.4
sklearn
joblib~=1.0.1
spotipy