numpy
discord
pillow
discord.py[voice]
youtube_dl
youtube-python
SQLAlchemy
bcrypt
Flask
Flask-SocketIO
Flask-SQLAlchemy
gevent
gevent-websocket
python-socketio
multipledispatch
Werkzeug
requests
pymongo
pandas
joblib
spotipy
scipy
matplotlib
pymongo[srv]
