{% extends 'base.html' %}

{% block title %}
Game
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='hallway.css') }}">
{% endblock %}

{% block content %}
<div class="main-wrapper">
    <div id="game-wrapper" class="main-content">
        <canvas id="canvas">
        </canvas>
    </div>
    <div id="right-column" class="secondary-content">
        <div class="custom-title flex-title">
            Players
            <div class="player-list"></div>
        </div>

        <div class="custom-title flex-title">Chat</div>
        <div id="chat-wrapper">
            <ul id="messages"></ul>
            <form id="messageform" method="post">
                <input class="custom-input" id="m" autocomplete="off" placeholder="Message"/>
                <input id="roomid" type="hidden" value="{{ room.id }}"/>
                <input id="username" type="hidden" value="{{ session_user().owner }}"/>
                <button class="custom-input custom-button">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script>
    const ROOM_ID = "{{ room.id }}";
    const USER_NAME = "{{ session_user().owner }}";
    const PLAYER_CLASSES = [{% for cls in classes %}
        ["{{ cls.__name__ }}", "{{ cls.info }}"],
    {% endfor %}];
</script>
<script src="{{ url_for('static', filename='engine.js') }}"></script>
<script src="{{ url_for('static', filename='hallway.js') }}"></script>
{%     endblock %}