{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Rooms{% endblock %}</h1>
    {% if session_user() %}
        <a class="custom-input custom-button" href="{{ url_for('poker.create') }}">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="main-content-wrapper">
        <div class="room-wrapper">
            {% for room in rooms %}
                <article class="post">
                    <header>
                        <div>
                            <h1>{{ room.name }}</h1>
                            <div class="about">by {{ room.author.username }}
                                on {{ room.created.strftime('%Y-%m-%d') }}</div>
                        </div>
                        {% if session_user() %}
                            <button class="custom-input custom-button"
                               onclick="askPassword('{{ room.temp_password }}', '{{ room.id }}')">Join</button>
                        {% endif %}
                    </header>
                </article>
                {% if not loop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}



